<div class="container-fluid footer mt-3">
  <div class="row">

    <!-- Name -->
    <div class="col-lg-6">
      <h1>CloudKitchanwep</h1>
      <p>Good Food,Good Eat</p>
    </div>

    <!-- Nav -->
    <div class="col-lg-4">
      <a routerLink="">Home</a>
      <a routerLink="menu">Menu</a>
      <a routerLink="about">About</a>
      <a routerLink="Contact">Contact</a>
    </div>

    <!-- social medai -->
    <div class="col-lg-2">
      <a href="#" target="_blank"><i class="bi bi-facebook"></i></a>
      <a href="#"><i class="bi bi-instagram"></i></a>
      <a href="#"><i class="bi bi-youtube"></i></a>
      <a href="#"><i class="bi bi-whatsapp"></i></a>
    </div>
  </div>
</div>
