<!-- <p>about works!</p> -->
<div class="container mt-5 mb-5">
  <h1 class="text-center">About</h1>
  <p>
    Lorem ipsum, dolor sit amet consectetur adipisicing elit. Totam voluptas reprehenderit fugiat hic cumque vel a reiciendis nisi, veritatis dolores, beatae magni ipsam? Tempora ipsum quas fuga eveniet et tenetur.
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Porro quasi labore necessitatibus ut dignissimos nobis! Blanditiis debitis rem obcaecati nobis, id natus excepturi provident. Magnam ab velit necessitatibus doloribus laboriosam!
    Lorem ipsum, dolor sit amet consectetur adipisicing elit. Aliquid, dolorem deserunt! Iste obcaecati odio molestiae molestias quidem? Optio, exercitationem esse! Dolorum quidem delectus corporis nam fuga exercitationem esse illum! Fugiat!
    <br>
    Lorem, ipsum dolor sit amet consectetur adipisicing elit. Ipsam suscipit quas repudiandae sit corporis eaque dignissimos quo corrupti nulla? Qui, provident molestiae et harum blanditiis aspernatur accusamus sunt ea! Doloribus.
    Lorem, ipsum dolor sit amet consectetur adipisicing elit. Minima aliquam blanditiis accusamus, eos, ratione quibusdam fugiat eligendi culpa aut est possimus reprehenderit nulla quasi. Ut nihil omnis iure cupiditate cumque!
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Ullam mollitia omnis fuga autem incidunt ducimus odio quasi quo, voluptatibus vero in nobis voluptate, explicabo corrupti adipisci odit numquam a dolor?

  </p>
</div>
